.fromWrapper{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .btn{
    margin-top: 40px;
  }
  input{
    border-bottom: 1px solid black;
    padding: 5px 2px;
  }
  .str {
    position: relative;
    display: flex;
    flex-direction: column;
    color: red;
    span{
      position: absolute;
      bottom: 0;
      left: 150px;
      width: 200px;
    }
  }
  button{
    background-color: transparent;
    border: 1px solid lightgrey;
    padding: 5px 2px;
    border-radius: 5px;
    transition: background-color 0.3s;
    &:hover{
      background-color: lightgrey;
    }
    &:active{
      color: white;
    }
  }
}